.store-page {
  display: flex;
  height: 820px;
  overflow-y: auto;
  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #000;
    padding: 20px;
    margin-left: 30px;
    border-radius: 20px;
  }

  &__info {
    border: 1px solid #000;
    margin: 0 20px 20px 0;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }

  &__image {
    width: 400px;
    border: 1px solid #000;
    border-radius: 10px;
    height: 250px;
  }

  &__title {
    font-size: 20px;
    padding: 10px;
  }

  &__block {
    display: flex;
    justify-content: end;
  }

  &__btn {
    padding: 7px 5px;
    border: 1px solid #000;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
  }
}
